
<div>
    <h2><span data-translate="rebuApp.entry.detail.title">Entry</span> {{vm.entry.title}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="rebuApp.entry.title">Title</span></dt>
        <dd>
            <span>{{vm.entry.title}}</span>
        </dd>
        <dt><span data-translate="rebuApp.entry.content">Content</span></dt>
        <dd>
            <div ng-if="vm.entry.content">
                <a ng-click="vm.openFile(vm.entry.contentContentType, vm.entry.content)" data-translate="entity.action.open">open</a>
                {{vm.entry.contentContentType}}, {{vm.byteSize(vm.entry.content)}}
            </div>
        </dd>
        <dt><span data-translate="rebuApp.entry.date">Date</span></dt>
        <dd>
            <span>{{vm.entry.date | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="rebuApp.entry.blog">Blog</span></dt>
        <dd>
            <a ui-sref="blog-detail({name:vm.entry.blog.name})">{{vm.entry.blog.name}}</a>
        </dd>
        <dt><span data-translate="rebuApp.entry.title">Title</span></dt>
        <dd>
            <span ng-repeat="title in vm.entry.titles">
                <a ui-sref="tag-detail({id: title.id})">{{title.name}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="entry-detail.edit({id:vm.entry.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
